#navbar {
	position: sticky;
	top: 0;
	z-index: 9999;
	background-image: url("https://s3-media0.fl.yelpcdn.com/educatorphoto/Sc48sSgQZ2wRgfLharzavg/o.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
}
#navbar .navbar_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
	background: linear-gradient(180deg, #000000b3, #0000004d 72.92%, #0000);
}
#navbar .navbar_container .nav_left {
	display: flex;
	align-items: center;
	gap: 140px;
}
#navbar .navbar_container .nav_right {
	display: flex;
	align-items: center;
	gap: 20px;
}
#navbar .navbar_container .buttons {
	display: flex;
	gap: 15px;
}

#navbar .navbar_container button {
	outline: none;
	border: none;
	padding: 15px 30px;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	font-weight: 600;
}
#navbar .navbar_container .login-btn , #navbar .navbar_container .profile-btn{
	background-color: transparent;
	border: 2px solid rgb(203, 195, 195);
	color: #ffffff;
}

#navbar .navbar_container .register-btn, #navbar .navbar_container .logout-btn {
	background: #5dc380;
	color: #ffffff;
}

